* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(./bg.gif);
    background-size: cover;
    background-position: center;
}


.coming-soon {
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.coming-soon div h3 {
    color: #fff;
    text-shadow: #000 2px 2px 10px;
}

.day,.hour,.minute,.second {
    font-size: 2rem;
    text-shadow: none;

}

